
.panel {
  display: flex;
  background-color: rgb(198, 232, 255);
  border-radius: 6px;
  padding: 9px;
  margin: 0;
  width: 100%; 
  justify-content: center;
  justify-items: stretch;
}

.panel > * {
  margin: auto;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.err-msg {
  position: absolute;
  margin: auto;
  overflow: visible;
  top: 15%;
  padding: 3px;
}