.slider {
  /* position: relative; */
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr
                      4fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}

.panel {
  grid-row: 1 2;
}

.stage {
  grid-row: 2 3;
}

.image {
  width: 780px;
  height: 400px;
  /* object-fit: scale-down; */
  object-fit: cover;
  border-radius: 10px;
  border: 1px black;
  display: block;
  /* object-position: center 25%; */
}

.arrow {
  position: absolute;
  top: 60%;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.next {
  right: 140px;
} 

.prev {
  left: 140px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.progress {
  margin: auto;
}